<!-- main.hbs -->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title> OSU Intl student insurance help </title>
    <link rel="stylesheet" href="/css/style.css"/>
    <link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet'>

<body>
<h1><span>OSU International Student Health Insurance</span></h1>
<div class="navbar">
    <a href="/doctor"> Find Doctor</a>
    <a href="/dentist"> Find an Dentist</a>
    <a href="/eyedoctor"> Find an Ophthalmologist</a>
    <a href="/therapist"> Find an Therapist</a>
    <a href="/pharmacy"> Find Pharmacy</a>
    <a href="/hospital"> Find Hospital</a>
    <a href="/faq"> FAQ </a>
</div>
{{{body}}}
</body>
</html>
