<!-- faq.hbs -->
<main>

    <div class="faq-container">
        <div class="question" onclick="toggleFaqAnswer(this)">
            Is student health insurance mandatory?
        </div>
        <div class="answer hidden">
            All non- resident international students and their dependents (living in the United States) must have health insurance.
        </div>
    </div>

    <div class="faq-container">
        <div class="question" onclick="toggleFaqAnswer(this)">
            What health insurance company does OSU work with?
        </div>
        <div class="answer hidden">
            Students under the International Student Insurace Plan are under the Navigator plan by PacificSource.
        </div>
    </div>

    <div class="faq-container">
        <div class="question" onclick="toggleFaqAnswer(this)">
            Does travel insurance or international student insurance from my country meet the waiver requirement?
        </div>
        <div class="answer hidden">
            Students under a different insurance plan can submit a wavier request and a summary of their coverage to the Student Health Insurance office. If approved, the charge for insurance will be removed.
        </div>
    </div>

    <div class="faq-container">
        <div class="question" onclick="toggleFaqAnswer(this)">
            Where can I find the detailed waiver requirement?
        </div>
        <div class="answer hidden">
            Waiver forms can be found
            <a href="https://studenthealth.oregonstate.edu/sites/studenthealth.oregonstate.edu/files/2022-09/090122_international_student_insurance_waiver.pdf">here</a>
            .
        </div>
    </div>

    <div class="faq-container">
        <div class="question" onclick="toggleFaqAnswer(this)">
            Where can I find the plan coverage?
        </div>
        <div class="answer hidden">
            Plan coverage can be found
            <a href="https://providerdirectory.pacificsource.com/Commercial">here</a>
            . Be sure to select the "Navigator" option in "Plan or Network" and enter your zip code.
        </div>
        </div>
    </div>

    <div class="faq-container">
        <div class="question" onclick="toggleFaqAnswer(this)">
            Where can I find my insurance id or insurance card?
        </div>
        <div class="answer hidden">

        </div>
    </div>

    <div class="faq-container">
        <div class="question" onclick="toggleFaqAnswer(this)">
            Are there other resources I can utilize to compare the health plans between different companies?
        </div>
        <div class="answer hidden">

        </div>
    </div>

    <div class="faq-container">
        <div class="question" onclick="toggleFaqAnswer(this)">
            If I graduate from school and want to change my health insurance provider, do I have to inform PacificSource?
        </div>
        <div class="answer hidden">

        </div>
    </div>

    <div class="faq-container">
        <div class="question" onclick="toggleFaqAnswer(this)">
            If I work under OPT, do I need to find new health insurance, or does OSU still include me in the health insurance plan?
        </div>
        <div class="answer hidden">

        </div>
    </div>

    <div class="faq-container">
        <div class="question" onclick="toggleFaqAnswer(this)">
            How can I find healthcare providers that accept my health insurance?
        </div>
        <div class="answer hidden">

        </div>
    </div>

    <div class="faq-container">
        <div class="question" onclick="toggleFaqAnswer(this)">
            If I need medical help during the vacation term and do not take any classes but still stay in the states (typically, summer term is the vacation term for international students, and the health insurance premium is charged together with tuition), am I still in the health insurance plan?
        </div>
        <div class="answer hidden">

        </div>
    </div>

    <div class="faq-container">
        <div class="question" onclick="toggleFaqAnswer(this)">
            If I have an English version of my medical record from the hospital I used to visit in my country, how do I transfer the medical record to new healthcare providers? Is my original medical record acceptable?
        </div>
        <div class="answer hidden">

        </div>
    </div>

    <div class="faq-container">
        <div class="question" onclick="toggleFaqAnswer(this)">
            If I have a prescription written in languages other than English, can I take that prescription to the pharmacy to get the drug?
        </div>
        <div class="answer hidden">

        </div>
    </div>

    <div class="faq-container">
        <div class="question" onclick="toggleFaqAnswer(this)">
            What should I do if my prescription drugs are not covered in the health insurance plan or are not available in the states?
        </div>
        <div class="answer hidden">

        </div>
    </div>


</main>
<script src="./js/faq.js"></script>
<link rel="stylesheet" href="/css/faq.css"/>