.hidden {
    display: none;
}

.question {
    font-size: 30px;
    color: white;
    padding: 5px;
}

.faq-container {
    background-color: hsl(208, 24%, 52%);
    border-style: solid;
    border-color: white;
}

.answer {
    background-color: rgb(139, 139, 139);
    color: white;
    font-size: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
}